[submodule "deps/3rdparty/bgfx/bgfx"]
	path = deps/3rdparty/bgfx/bgfx
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "deps/ospp/ospp"]
	path = deps/ospp/ospp
	url = https://github.com/volcoma/ospp.git
[submodule "deps/3rdparty/spdlog/spdlog"]
	path = deps/3rdparty/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "deps/3rdparty/rttr/rttr"]
	path = deps/3rdparty/rttr/rttr
	url = https://github.com/volcoma/rttr.git
[submodule "deps/hpp/hpp"]
	path = deps/hpp/hpp
	url = https://github.com/volcoma/hpp.git
[submodule "deps/3rdparty/imgui/imgui"]
	path = deps/3rdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/3rdparty/glm/glm"]
	path = deps/3rdparty/glm/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/itc/itc"]
	path = deps/itc/itc
	url = https://github.com/volcoma/itc.git
[submodule "deps/cereal/cereal"]
	path = deps/cereal/cereal
	url = https://github.com/USCiLab/cereal.git
